<div class="jumbotron" style = "margin-top: 80px; padding-bottom: 90px;" >
<h2 class="col-md-4 col-md-offset-5" >Uten Generator</h2>
	<div class="row row1">
	<form (submit) = "OnGenerate()">
		<div class = "form-group">
			<input type="submit" class="btn btn-primary col-md-3 col-md-offset-2" value="Generate Uten">
		</div>
	</form>
	<p class = "col-md-3 col-md-offset-2">{{uten}}</p>
	</div>
	<div class = "row">
	<button type = "button" class = "btn btn-default col-md-8" style = "margin-top: 102px; margin-left:200px;" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"  [routerLink]="['/']">Continue to edit your post</button>
	<button type = "button" class = "btn btn-default col-md-8" style = "margin-top: 10px; margin-left:200px;" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"  [routerLink]="['/']">Return to Home</button>
	</div>
</div>



