<div class="jumbotron" style = "margin-top: 80px;" >
  <div class="row"><h1 align = "middle">Brand new way to advertise!</h1></div>
  <div class = "row">

    <div class="input-group" style = "margin-left:200px;">

      <input type="text" class = "form-control" placeholder = "Search by Uten" style = "margin-top: 60px;">
      <input type="text" class = "form-control" placeholder = "Search by Catagories" style = "margin-top: 40px;">
      

    </div>
      <button type = "button" class = "btn btn-default col-md-8" style = "margin-top: 40px; margin-left:200px; margin-bottom: 40px" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" [routerLink]="['/generator']">Post my own Ads</button>

       <!-- <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink]="['/generator']">ADDOES</a></li> -->

  </div>
</div>

<button type = "button" id = "go" class = "btn btn-default ">Does!</button>
